
.auth-card {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;

    background-color: rgba(15, 24, 14, 0.938);
    border-radius: 12px;
    box-shadow: 0 0px 124px rgba(0, 0, 0, 0.8);
}
.auth-card h1, 
.auth-card h2 {
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-field_input {
    padding: 10px 14px;
    
    color: #d5dae0;
    background-color: rgba(15, 24, 14, 0.938);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-radius: 6px;

    transition: background-color 0.3s;
}
.form-field_input:focus {
    outline: none;
    background-color: rgba(19, 48, 31, 0.85);
    border-color: rgba(255, 255, 255, 0.12);
    border-width: 1px;
}
.form-field_input::placeholder {
    color: rgba(213, 218, 224, 0.5);
}

.auth-button {
    padding: 8px 8px;
    width: 85%;

    font-size: 15px;
    font-weight: 600;
    color: #d5dae0;
    border: none;
    background-color: rgba(36, 54, 44, 0.95);
    border-radius: 12px;

    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
}
.auth-button:hover {
    background-color: rgba(55, 82, 67, 0.95);
}
.auth-button:active {
    transform: translateY(1px);
    background-color: rgba(28, 42, 34, 0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.auth-option-switch {
    margin: 16px 0px;
    text-align: center;
}
.auth-option-switch_link {
    padding: 4px;

    color: rgba(87, 199, 133, 1);
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;

    transition: background-color 0.1s;
}
.auth-option-switch_link:hover {
    background-color: rgba(55, 82, 67, 0.95);
}

